<!DOCTYPE html>
<html>
  <head>
    <title>Kpedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= link_to image_tag("logo.png", class: 'logo'), root_path %>
      
      <%= yield %>

      <%= link_to "Home", words_path %>
    </div>
  </body>
</html>
